@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --foreground: #171717;
    --background: #fff;
} */

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #737373;
        --background: #171717;
    }
}


@layer components {
    body {
        font-family: 'Inter', sans-serif;
        color: var(--foreground);
        background: var(--background);
    }

    .slider-container {
        position: relative;
        width: 80%;
        margin: 0 auto;

        @screen md {
            width: 90%;
        }

        .slick-prev,
        .slick-next {
            z-index: 1;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}